div.canvas-container {

    position: relative;
    box-sizing: border-box;
    width: 700px;
    height: 600px;
    background-color: blue;

    canvas.drawing {
        border: 2px solid #d3d3d3;
        box-sizing: border-box;
        width: 600px;
        height: 500px;
        position: absolute;
        top: 50px;
        left: 50px;
    }

    canvas.frame {
        // position: absolute;
    }

    // .frame {
    //     border: 3px solid #d3d3d3;
    //     box-sizing: border-box;
    //     position: absolute;
    //     width: 400px;
    //     height: 400px;
    //     top: 10px;
    //     left: 10px;
    //     right: 10px;
    // }

}
