// background
div.canvas-component {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

// canvas container
div.canvas-container {
  margin: 20px;
}

// canvas
div.canvas {
    
    background-color: white;
    width: 700px;
    height: 600px;
    
    canvas {
        border: 0.05px solid #d3d3d3;
        width: 600px;
        height: 500px;
    }
    
}

// borders
div.side { // side borders

    display: flex;
    height: 500px;

    div {
        width: 50px;
        height: 500px;
    }

    img {
        width: 50px;
        height: 500px;
        object-fit: cover;
        object-position: right bottom;
    }

}

div.top { // top border
    display: flex;
    justify-content: center;
    width: 700px;
    height: 50px;

    img {
        width: 600px;
        height: 50px;
        object-fit: cover;
        object-position: center bottom;
    }
}

div.bottom { // bottom border
    display: flex;
    justify-content: center;
    width: 700px;
    height: 50px;

    img {
        width: 600px;
        height: 50px;
        object-fit: cover;
        object-position: center top;
    }    
}

// buttons
div.canvas-buttons {
    display: flex;
    flex-direction: column;
    width: 70px;

    button {
        text-transform: uppercase;
        border-radius: 5px;
        background-color: white;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
    }

    button:hover {
        background-color: lightgray;
    }
    
    button.disabled {
        background-color: darkgray;
        color: rgb(78, 78, 78);
    }

    button.disabled:hover {
        background-color: darkgray;
        color: rgb(78, 78, 78);
    }

}

.canvas-buttons:last-of-type {
    width: 100px;
}
